<div class="text-block">
    <div class="title-block">
      <h3 class="title">{{post.title}}</h3>
      <div class="thisDate">
        <p>
          <span> {{post.day}} /</span>
          <span> {{post.month}} /</span>
          <span> {{post.year}} </span>
        </p>
        <p>
          <span> {{post.hours}} :</span>
          <span> {{post.minutes}} </span>
        </p>
      </div>
    </div>

    <p>{{post.text}}</p>
    <p class="person">
      <span> {{post.name}} </span>
      <span> {{post.surname}} </span>
      <span> {{post.email}} </span>
      <span> {{post.phone}}</span>
    </p>

</div>
