
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
h1{
  font-size: 5rem;
  color:#3b4e83;
  text-align: center;
  font-family: 'Ranchers', cursive;
}
h2{
  font-size: 3rem;
  color:#3b4e83;
  margin-left:20%;
  font-family: 'Ranchers', cursive;
}
.btn {
  width: 61.5%;
  display: block;
  background: #3b4e83;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: 1px solid #3b4e83;;
  cursor: pointer;
  margin: 1.2rem auto;
  font-family: 'Ranchers', cursive;
}

.btn:hover {
  opacity: 0.8;
}
.btn-main{
  margin-top: 2rem;
  font-size: 2rem;
}
.main-block{
  margin-top: 6rem;
}
.form-control {
  display: block;
  margin-top: 0.3rem;
}
.alert{
  color:crimson;
  margin-bottom: 1rem;
  margin-left: 60%;
}
label{
  margin-left: 20%;
  font-weight: bold;
  color:#2b4594;
}
input,
textarea,
.text-block{
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin: 1.2rem auto;
}

hr {
  margin: .5rem 0;
  background-color: #3b4e83;
}
.title-block{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.title{
  margin-left:2%;
  color:#3b4e83;
  font-family: 'Ranchers', cursive;
}
.title-block span{
  color:#14224b;
}
.person{
  font-style: italic;
  color:#2b4594;
  text-align: right;
}
.not-found{
  margin: 4rem ;
  text-align: center;
  color: rgb(76, 76, 78);
}
